Source: vineyard
Section: misc
Priority: optional
Maintainer: Christian Dannie Storgaard <cybolic@gmail.com>
Build-Depends: debhelper (>= 7), python (>= 2.4), dh-python | python-support, perl
X-Python-Version: >= 2.4
Standards-Version: 3.9.6
Vcs-Bzr: lp:vineyard
Vcs-Git: https://github.com/Cybolic/vineyard.git
Vcs-Browser: https://github.com/Cybolic/vineyard
Homepage: http://vineyardproject.org

Package: vineyard
Architecture: all
Depends: wine | wine-staging, icoutils, cabextract, unzip, python (>= 2.4), python-glade2, python-dbus, python-appindicator, ${misc:Depends}
Provides: wine-preferences, nautilus-wine, python-wine
Replaces: wine-preferences, nautilus-wine, python-wine
X-Python-Version: >= 2.4
Description: Easy to use Wine configuration program
 Vineyard is a user friendly configuration tool for Wine that offers all the
 features of winecfg (with the exception of the unfinished theme-support) as
 well as bottle-handling and program-management in an easy to use program
 designed to blend in with the GNOME desktop.
